form
{
    .Columns(auto, 3);
    //.Column-Gap(200px);

    margin : 0 auto 10px;

    label
    {
        display : inline-block;
        width   : 45px;
    }

    input[type=text]
    {
        border        : 1px solid @light-grey;
        font-family   : @font;
        margin-bottom : 2px;
        padding       : 3px;
        width         : 100px;
    }
}

input[type=button]
{
    background  : linear-gradient(@white, @very-light-grey);
    border      : 1px solid @light-grey2;
    color       : #555555;
    cursor      : pointer;
    font-family : @font;
    font-size   : 15px;
    line-height : 15px;
    padding     : 3px 10px;
    text-shadow : 0 1px 0 @white;
    width       : 100px;

    &:hover
    {
        color : @black;
    }
}