form
{
    .Columns(auto, 3);
    //.Column-Gap(200px);

    margin : 0 auto 10px;

    div.group
    {
        label
        {
            display : inline-block;
            width   : 45px;
        }

        span.rune-image
        {
            display: inline-block;
            height: @rune-size;
            vertical-align: middle;
            width: @rune-size;
        }

        input[type=text],
        input[type=number]
        {
            border-bottom: 1px solid @black;
            border-left: none;
            border-right: 1px solid @black;
            border-top: 1px solid @black;
            font-family   : @font;
            font-size: 18px;
            height: @rune-size;
            margin-bottom : 2px;
            padding       : 3px;
            vertical-align: top;
            width         : 150px;
        }
    }
}

input[type=button]
{
    background  : linear-gradient(@white, @very-light-grey);
    border      : 1px solid @light-grey2;
    color       : #555555;
    cursor      : pointer;
    font-family : @font;
    font-size   : 15px;
    line-height : 15px;
    padding     : 3px 10px;
    text-shadow : 0 1px 0 @white;
    width       : 100px;

    &:hover
    {
        color : @black;
    }
}

div.group
{
    .Rune-Image(1, 0, 0);
}