form
{
    .Columns(auto, 3);
    //.Column-Gap(200px);

    margin : 0 auto 10px;

    div.group
    {
        margin-bottom: 10px;

        label
        {
            display : inline-block;
            width   : 45px;
        }

        span.rune-image
        {
            display: inline-block;
            height: @rune-size;
            vertical-align: middle;
            width: @rune-size;
        }

        input[type=text],
        input[type=number]
        {
            border-bottom: 1px solid @black;
            border-left: none;
            border-right: 1px solid @black;
            border-top: 1px solid @black;
            font-family   : @font;
            font-size: 18px;
            height: @rune-size;
            padding       : 3px;
            vertical-align: top;
            width         : 200px;
        }
    }
}

input[type=button]
{
    background  : linear-gradient(@white, @very-light-grey);
    border      : 1px solid @light-grey2;
    color       : #555555;
    cursor      : pointer;
    font-family : @font;
    font-size   : 15px;
    line-height : 15px;
    padding     : 3px 10px;
    text-shadow : 0 1px 0 @white;
    width       : 100px;

    &:hover
    {
        color : @black;
    }
}

div.group
{
    .Rune-Image(1, 0, 0);
    .Rune-Image(2, -32px, -1px);
    .Rune-Image(3, -63px, -1px);
    .Rune-Image(4, -96px, 0);
    .Rune-Image(5, -128px, 0);

    .Rune-Image(6, 0, -32px);
    .Rune-Image(7, -32px, -32px);
    .Rune-Image(8, -64px, -32px);
    .Rune-Image(9, -97px, -32px);
    .Rune-Image(10, -128px, -32px);

    .Rune-Image(11, -1px, -64px);
    .Rune-Image(12, -33px, -64px);
    .Rune-Image(13, -64px, -65px);
    .Rune-Image(14, -97px, -65px);
    .Rune-Image(15, -128px, -63px);

    .Rune-Image(16, 0px, -96px);
    .Rune-Image(17, -32px, -96px);
    .Rune-Image(18, -64px, -97px);
    .Rune-Image(19, -96px, -97px);
    .Rune-Image(20, -128px, -97px);

    .Rune-Image(21, 0, -127px);
    .Rune-Image(22, -32px, -127px);
    .Rune-Image(23, -64px, -128px);
    .Rune-Image(24, -96px, -128px);
    .Rune-Image(25, -128px, -128px);

    .Rune-Image(26, 0, -159px);
    .Rune-Image(27, -32px, -160px);
    .Rune-Image(28, -64px, -160px);
    .Rune-Image(29, -96px, -160px);
    .Rune-Image(30, -128px, -160px);

    .Rune-Image(31, 0, -192px);
    .Rune-Image(32, -32px, -192px);
    .Rune-Image(33, -64px, -192px);
}