@charset "utf-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
input,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
form {
  -moz-columns: auto 3;
  -webkit-columns: auto 3;
  columns: auto 3;
  margin: 0 auto 10px;
}
form div.group {
  margin-bottom: 10px;
}
form div.group label {
  display: inline-block;
  width: 45px;
}
form div.group span.rune-image {
  display: inline-block;
  height: 35px;
  vertical-align: middle;
  width: 35px;
}
form div.group input[type=text],
form div.group input[type=number] {
  border-bottom: 1px solid #000000;
  border-left: none;
  border-right: 1px solid #000000;
  border-top: 1px solid #000000;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  height: 35px;
  padding: 3px;
  vertical-align: top;
  width: 200px;
}
input[type=button] {
  background: linear-gradient(#ffffff, #ededed);
  border: 1px solid #bbbbbb;
  color: #555555;
  cursor: pointer;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  line-height: 15px;
  padding: 3px 10px;
  text-shadow: 0 1px 0 #ffffff;
  width: 100px;
}
input[type=button]:hover {
  color: #000000;
}
div.group:nth-of-type(1) span.rune-image {
  background: url('../images/rune-sprite.png') no-repeat 0 0 #000000;
}
div.group:nth-of-type(2) span.rune-image {
  background: url('../images/rune-sprite.png') no-repeat -32px -1px #000000;
}
div.group:nth-of-type(3) span.rune-image {
  background: url('../images/rune-sprite.png') no-repeat -63px -1px #000000;
}
div.group:nth-of-type(4) span.rune-image {
  background: url('../images/rune-sprite.png') no-repeat -96px 0 #000000;
}
div.group:nth-of-type(5) span.rune-image {
  background: url('../images/rune-sprite.png') no-repeat -128px 0 #000000;
}
div.group:nth-of-type(6) span.rune-image {
  background: url('../images/rune-sprite.png') no-repeat 0 -32px #000000;
}
div.group:nth-of-type(7) span.rune-image {
  background: url('../images/rune-sprite.png') no-repeat -32px -32px #000000;
}
div.group:nth-of-type(8) span.rune-image {
  background: url('../images/rune-sprite.png') no-repeat -64px -32px #000000;
}
div.group:nth-of-type(9) span.rune-image {
  background: url('../images/rune-sprite.png') no-repeat -97px -32px #000000;
}
div.group:nth-of-type(10) span.rune-image {
  background: url('../images/rune-sprite.png') no-repeat -128px -32px #000000;
}
div.group:nth-of-type(11) span.rune-image {
  background: url('../images/rune-sprite.png') no-repeat -1px -64px #000000;
}
div.group:nth-of-type(12) span.rune-image {
  background: url('../images/rune-sprite.png') no-repeat -33px -64px #000000;
}
div.group:nth-of-type(13) span.rune-image {
  background: url('../images/rune-sprite.png') no-repeat -64px -65px #000000;
}
div.group:nth-of-type(14) span.rune-image {
  background: url('../images/rune-sprite.png') no-repeat -97px -65px #000000;
}
div.group:nth-of-type(15) span.rune-image {
  background: url('../images/rune-sprite.png') no-repeat -128px -63px #000000;
}
div.group:nth-of-type(16) span.rune-image {
  background: url('../images/rune-sprite.png') no-repeat 0px -96px #000000;
}
div.group:nth-of-type(17) span.rune-image {
  background: url('../images/rune-sprite.png') no-repeat -32px -96px #000000;
}
div.group:nth-of-type(18) span.rune-image {
  background: url('../images/rune-sprite.png') no-repeat -64px -97px #000000;
}
div.group:nth-of-type(19) span.rune-image {
  background: url('../images/rune-sprite.png') no-repeat -96px -97px #000000;
}
div.group:nth-of-type(20) span.rune-image {
  background: url('../images/rune-sprite.png') no-repeat -128px -97px #000000;
}
div.group:nth-of-type(21) span.rune-image {
  background: url('../images/rune-sprite.png') no-repeat 0 -127px #000000;
}
div.group:nth-of-type(22) span.rune-image {
  background: url('../images/rune-sprite.png') no-repeat -32px -127px #000000;
}
div.group:nth-of-type(23) span.rune-image {
  background: url('../images/rune-sprite.png') no-repeat -64px -128px #000000;
}
div.group:nth-of-type(24) span.rune-image {
  background: url('../images/rune-sprite.png') no-repeat -96px -128px #000000;
}
div.group:nth-of-type(25) span.rune-image {
  background: url('../images/rune-sprite.png') no-repeat -128px -128px #000000;
}
div.group:nth-of-type(26) span.rune-image {
  background: url('../images/rune-sprite.png') no-repeat 0 -159px #000000;
}
div.group:nth-of-type(27) span.rune-image {
  background: url('../images/rune-sprite.png') no-repeat -32px -160px #000000;
}
div.group:nth-of-type(28) span.rune-image {
  background: url('../images/rune-sprite.png') no-repeat -64px -160px #000000;
}
div.group:nth-of-type(29) span.rune-image {
  background: url('../images/rune-sprite.png') no-repeat -96px -160px #000000;
}
div.group:nth-of-type(30) span.rune-image {
  background: url('../images/rune-sprite.png') no-repeat -128px -160px #000000;
}
div.group:nth-of-type(31) span.rune-image {
  background: url('../images/rune-sprite.png') no-repeat 0 -192px #000000;
}
div.group:nth-of-type(32) span.rune-image {
  background: url('../images/rune-sprite.png') no-repeat -32px -192px #000000;
}
div.group:nth-of-type(33) span.rune-image {
  background: url('../images/rune-sprite.png') no-repeat -64px -192px #000000;
}
body {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 20px 100px 0;
}
div.buttons {
  text-align: center;
}
div.gomule {
  display: none;
}
