@charset "utf-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
input,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
form {
  -moz-columns: auto 3;
  -webkit-columns: auto 3;
  columns: auto 3;
  margin: 0 auto 10px;
}
form div.group label {
  display: inline-block;
  width: 45px;
}
form div.group span.rune-image {
  display: inline-block;
  height: 35px;
  vertical-align: middle;
  width: 35px;
}
form div.group input[type=text],
form div.group input[type=number] {
  border-bottom: 1px solid #000000;
  border-left: none;
  border-right: 1px solid #000000;
  border-top: 1px solid #000000;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  height: 35px;
  margin-bottom: 2px;
  padding: 3px;
  vertical-align: top;
  width: 150px;
}
input[type=button] {
  background: linear-gradient(#ffffff, #ededed);
  border: 1px solid #bbbbbb;
  color: #555555;
  cursor: pointer;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  line-height: 15px;
  padding: 3px 10px;
  text-shadow: 0 1px 0 #ffffff;
  width: 100px;
}
input[type=button]:hover {
  color: #000000;
}
div.group:nth-of-type(1) span.rune-image {
  background: url('../images/rune-sprite.png') no-repeat 0 0 #000000;
}
body {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 20px 100px 0;
}
div.buttons {
  text-align: center;
}
div.gomule {
  display: none;
}
