.Box-Sizing()
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.Columns(@width; @count)
{
    -moz-columns: @width @count;
    -webkit-columns: @width @count;
    columns: @width @count;
}

.Column-Gap(@gap)
{
    -moz-column-gap: @gap;
    -webkit-column-gap: @gap;
    column-gap: @gap;
}