.Box-Sizing()
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.Column-Count(@count)
{
    -moz-column-count: @count;
    -webkit-column-count: @count;
    column-count: @count;
}